<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to TurboGears 2.0, standing on the
  shoulders of giants, since 2007</title>
</head>

<body>
    <h2>Site Administration</h2>
    This page provides a set of simple administrative tasks to help you get your site going.
    <ul>
      <li><a href='users'>Users</a> A listing of Users for you to peruse and edit.</li>
      <li><a href='groups'>Groups</a> A listing of Groups for you to peruse and edit.</li>
      <li><a href='permissions'>Permissions</a> A listing of Permissions for you to peruse and edit.</li>
      <li><a href='catwalk'>Catwalk</a> A system to view all of the models in your database.</li>
    </ul>
</body>
</html>
